
/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}


@media (min-width: 640px) {
  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }
}


#coins {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 200px;
  background-color: transparent;
}

#coins option {
  background-color: transparent;
  color: #333;
  padding: 8px;
  
}

#coins option:checked {
  background-color: transparent;
  font-weight: bolder;
}

h2{
  font-size: larger;
  font-weight: bolder;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px; /* Gap between cards */
  margin-top: 20px; /* Margin top for spacing */
  border: #050505;
  height: 200px;
  font-weight: bolder;
  text-align: center;
}

.card {
  background-color: transparent; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 

#chart-container {
  width: 100%; /* Make the chart container full width of its parent */
  margin-top: 20px; /* Adjust margin as needed */
}

img{
  width: 30px;
  height: 30px;
}

.usd_24h_change{
  color:rgb(209, 79, 79);
}

.usd_24h_vol{
  color:rgb(109, 158, 34);
}

.usd{
  color:rgb(20, 145, 145);
  
}

.usd_market_cap{
  color:rgb(20, 145, 145);
}

#coinsellector {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: transparent;
}

#coinsellector option {
  background-color: transparent;
  color: #333;
  padding: 8px;
}

#coinsellector option:checked {
  background-color: transparent;
  font-weight: bolder;
}

#ddMenu {
  z-index: 10;
}

#cards {
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

#cards>.card {
  flex-basis: calc(50% - 1rem);
}

#tab-About{
  text-align: center;
}

#tab-Contact{
  text-align: center;
}

.contact-form {
  width: 300px;
  margin: 0 auto; 
  text-align: center; 
}

.contact-form label {
    display: block;
    margin-bottom: 10px; 
}
    
.contact-form input,
.contact-form textarea {
     border: 1px solid black;
     padding: 1px; /* Add some padding for better appearance */
     box-sizing: border-box; /* Include padding and border in the element's total width */
     margin-bottom: 5px;
     
}

.contact-form button {
  width: calc(100% - 12px); /* Make the button take up full width */
  margin: 0 auto; /* Center the button horizontally */
}